* {
    -webkit-appearance: none;
    font-family: arial, sans-serif;
    font-size: 13px;
}
/* Top right navbar styling */
.top_navbar {
    display: inline;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
}

.top_navbar a {
    padding-left: 15px;
}

a {
    color: black;
    text-decoration-line: none;
}

#gapps {
    vertical-align: middle; 
    opacity: 0.55;
}

#gapps:hover, 
#gapps:focus {
    opacity: 0.85;
}
/* End of top right navbar styling */

.logo {
    display: block;
    padding-top: 109px;
    margin: 0 auto;
}
/* Central searchbox styling */
.searchbox {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    width: 482px;
    display: flex;
    margin: 0 auto;
}

.searchbox:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search {
    color: #9AA0A6;
    fill: currentColor;
    height: 20px;
    width: 20px;
    padding-left: 14px;
    padding-right: 13px;
    margin: auto 0;
}

.search svg {
    height: 100%;
}

.form {
    border: none;
    outline: none;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    margin: auto 0;
    display: flex;
    flex: 100%;
}

.mic {
    margin: auto 0;
    padding-right: 18px;
}
/* End of central searchbox styling */


.buttons {
    text-align: center;
}

.buttons .button1,
.buttons .button2 {
    display: inline-block;
}

.bottom_left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    position: fixed;
    bottom: 0;
}

.bottom_right{
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    position: fixed;
    bottom: 0;
    right: 1%;
}

li {
    display: inline;
}
